<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link th:href="@{/style.css}" href="../static/style.css" rel="stylesheet" type="text/css">
<title>Document</title>
</head>
<body >

    <h1>Webshop</h1>

    <table class="index-table">
        <thead class="topkek">
        <tr>
            <th style="text-align: left"> Name </th>
            <th> Price </th>
            <th></th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="vare: ${vare}" title="Click to View">
            <td th:text="${vare.name}" style="text-align: left"/>
            <td th:text="${vare.price}"/>

            <td>
                <a th:href="@{'/viewVare/'+${vare.id}}" class="info-button">
                        Se Info
                </a>

                <a th:href="@{'/updateVare/'+${vare.id}}" class="update-button">
                        Opdater
                </a>

                <a th:href="@{'/deleteVare/'+${vare.id}}" class="delete-button">
                        Slet
                </a>
            </td>
        </tr>
        <td class="someButtonIndex">
            <a class="create-product" href="/createVare">
                New product
            </a>
        </td>
        </tbody>
    </table>
</body>
</html>