<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Webshop - new product</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Webshop</h1>

    <form action="/createVare" method="post">
        <table>
            <thead>
            <th>Create Product</th>
            <th></th>
            </thead>
            <tbody>
            <tr>
                <td>Product Name:</td>
                <td><input type="text" name="name" placeholder="Vare navn" required/></td>
            </tr>
            <tr>
                <td>Price:</td>
                <td><input type="number" name="price" placeholder="Price" min="0" step="any" required></td>
            </tr>
            </tbody>
        </table>
            <button type="submit">Tilføj Produkt</button>
    </form>
</body>
</html>