<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Webshop - Update</title>
    <link th:href="@{/style.css}" href="../static/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<a href="/" style="color: inherit; text-decoration: none;">
    <h1>Webshop - Update</h1>
</a>
    <form action="/updateVare" method = "post">
        <table class="update-table">
            <thead>


            </thead>
            <tbody>
                <tr>
                    <td>Product ID:</td>
                    <td><input type="number" name="id" th:value="${vare.id}" readonly></td>
                </tr>
                <tr>
                    <td><b>Product name:</b></td>
                    <td><input type="text" name="name" th:value="${vare.name}" required></td>
                </tr>
                <tr>
                    <td><b>Price :</b></td>
                    <td><input type="number" name="price" th:value="${vare.price}" required></td>
                </tr>


            </tbody>
            <td class="someBottn">
                <a>
                    <input type="submit" value="Gem Ændringer">
                </a>
            </td>
        </table>

    </form>
</body>
</html>